
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            Secure Membership Exchange Programme
        </h3>
    </div>
    <div class="panel-body">
        <p>
            If you're unable to attend you can return the membership and we'll find it a new home!
        </p>
        <p>
            Instead of a tight deadline we impose a fee closer to the event. 0%
            up until two months before the event, then 20% up until one month
            before the event, then 50% until three weeks before, then 75%.
        </p>
        <p>
            Please be considerate and allow others to plan by returning your
            membership early, if you know you won't be able to make it.
        </p>
        <div class="col-md-4  col-xs-12">
            <a class="btn btn-block btn-danger btn-lg" href="cancel">
                Cancel Order
            </a>
        </div>
        <div class="col-md-4  col-xs-12">
            <a class="btn btn-block btn-danger btn-lg" disabled>
                Request Targeted Transfer
            </a>
            Please contact memberships@theborderland.se.
        </div>


    </div>
</div>
