[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "==2022.12.7"
chardet = "==3.0.4"
dateutils = "==0.6.7"
idna = "==2.8"
python-dateutil = "==2.8.1"
pytz = "==2019.3"
requests = "==2.22.0"
six = "==1.14.0"
urllib3 = "==1.25.8"
borderlandtool = {editable = true, path = "."}

[dev-packages]

[requires]
python_version = "3.9"
